---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greetings.jsx';
const pageTitle = "Página de inicio";
const title = "Mi sitio Astro"
---
<BaseLayout pageTitle={pageTitle} title={title}>
	<h2>Mi impresionante subtítulo del blog</h2>
	<Greeting client:load messages={["Hej", "Hallo", "Hola", "Habari"]} />
</BaseLayout>
